*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
.pictureintro{
    background-color:rgb(31, 29, 39);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    z-index: -3;
    margin: 0;
}
.picture{
    width: 100%;
    max-width: 400px;
    aspect-ratio:1/1;
    background-color: rgb(19, 6, 53);
    border-radius: 30px;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    position: relative; 
}
.intro{
    width: 100%;
    max-width: 500px;
}
.about{
    width: 100%;
    height: 50px;
    text-align: center;
}
.aboutme{
    font-family: 'poppins' , sans-serif;
    font-size: clamp(2rem ,5vw ,9rem);
    background: linear-gradient( to right, purple,blue,purple,blue,purple);
    background-size: 200%;
    margin-top: 30px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    background-color: transparent;
}
@keyframes animate-gradient {
    to{
        background-position: 200%;
    }
    
}
h1{
    font-size: clamp(2.7rem, 5vw, 7rem);
    color: white;
}
.text{
    background: linear-gradient( to right, purple,blue,purple,blue,purple);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
@property --angle{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits:false;
}
.picture::after,
.picture::before{
    content: '';
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    z-index: -1;
    padding: 0px;
    border-radius: 30px;
    background: conic-gradient(from var(--angle),purple,blue,purple,blue,purple);
    animation:3s spin linear infinite;
}
.picture::before{
    filter: blur(30px);
    opacity: 0.8;
}
@keyframes spin {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    } 
}
.pic2{
    width: 100%;
    max-width: 400px;
    aspect-ratio:1/1;
    background-color: rgb(19, 6, 53);
    border-radius: 30px;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    position: relative; 

}
.pic2::after,
.pic2::before{
    content: '';
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    z-index: -1;
    padding: 0px;
    border-radius: 30px;
    background: conic-gradient(from var(--angle),purple,blue,purple,blue,purple);
    animation:3s spin linear infinite;
}
.pic2::before{
    filter: blur(30px);
    opacity: 0.8;
}
.aboutcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
    flex-wrap: wrap;
    z-index: -1;
    background-color: transparent ;
    gap: 60px;
    padding-top: 20px;
}
.about-text{
    width: 100%;
    max-width: 450px;
    align-items: center;
    text-align: center;
}
p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(1.5rem,2.5vw,6rem);
}
.header{
    display: flex;
    justify-content: center;
    align-items:center ;
    color: white;
    padding: 10px;
    width: 100%;
}
.header nav ul{
    display: flex;
    list-style: none;
    gap: 10vw;
    font-size: clamp(0.8rem,1.5vw,5rem);
    text-decoration: none;
    cursor: pointer;
}
.header nav ul a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.header nav ul a:hover{
    background: linear-gradient( to right, purple,blue,purple,blue,purple);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
.my-projects{
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 2;
    gap: 5vw;
}
.project{
    font-family: 'poppins' , sans-serif;
    font-size: clamp(2rem ,5vw ,9rem);
    background: linear-gradient( to right, purple,blue,purple,blue,purple);
    background-size: 200%;
    margin-top: 30px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    background-color: transparent; 
    text-align: center;
    width: 100%;
}
.footer{
    min-width: 100%;
    height: 60vh;
    margin-top:-5 ;
}
.what-is-said{
    width: 100%;
    min-height: 50vh 
}
.images{
    display: flex;
    gap: 2vw;
    margin-top: 20px;
    justify-content: center;
    font-size: 6rem;
    color:rgb(202, 150, 251) ;
   
}
.card1{
    background-color: rgb(111, 82, 138);
    width: 100%;
    aspect-ratio: 1/1.2;
    max-width: 300px;
    border-radius: 20px;
}
.card2{
    background-color: rgb(111, 82, 138);
    width: 100%;
    aspect-ratio: 1/1.2;
    max-width: 300px;
    border-radius: 20px;
}
.card3{
    background-color:  rgb(111, 82, 138);
    width: 100%;
    aspect-ratio: 1/1.2;
    max-width: 300px;
    border-radius: 20px;
}
.images i:hover{
    background-color: rgb(111, 82, 138);

}
