*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pictureintro{
    background-color:rgb(26, 3, 82);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.picture{
    width: 100%;
    max-width: 510px;
    aspect-ratio:1/1;
    background-color:rgb(26, 3, 82);
    border-radius: 20px;
    box-shadow: 1px 1px 10px 15px rgba(110, 72, 206, 0.466); 
}
.intro{
    width: 100%;
    max-width: 510px;
}
.about{
    min-height: 100vh;
    background-color: rgb(26, 3, 82);
    text-align: center;

}
.aboutme{
    font-family: 'poppins' , sans-serif;
    font-size: clamp(2rem ,5vw ,9rem);
    background: linear-gradient( to right, purple,blue,purple,blue,purple);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient {
    to{
        background-position: 200%;
    }
    
}
h1{
    font-size: clamp(2.7rem, 5vw, 7rem);
    color: white;
}
.text{
    background: linear-gradient( to right, purple,blue,purple,blue,purple);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}