* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: rgb(31, 29, 39);
}

.glow-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*glow effect*/

.glow-wrapper::before,
.glow-wrapper::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 30px;
    background: conic-gradient(from var(--angle), purple, blue, purple, blue, purple);
    animation: spin 3s linear infinite;
    z-index: 0;
}

.glow-wrapper::before {
    filter: blur(40px);
    opacity: 0.8;
}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
.picture{
    background-position: center;
    background-image: url('img/2ea96109b8c1ec1f795f2a05dce14faf.jpg');
    background-size: cover;
}
.pic2{
    background-image: url('img/cyber-security-experts-working-with-tech-devices-neon-lights.jpg');
    background-position: center;
    background-size: cover;
}

.picture,
.pic2 {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    background-color: rgb(19, 6, 53);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.pictureintro {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0;
    padding-top: 50px;
}

.intro {
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.about {
    width: 100%;
    height: 50px;
    text-align: center;
}

.aboutme {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(2rem, 5vw, 9rem);
    background: linear-gradient(to right, purple, blue, purple, blue, purple);
    background-size: 200%;
    margin-top: 30px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    background-color: transparent;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

h1 {
    font-size: clamp(2.7rem, 4.5vw, 7rem);
    color: white;
}

.text {
    background: linear-gradient(to right, rgba(128, 0, 128, 0.79), rgba(0, 0, 255, 0.79), rgba(128, 0, 128, 0.79), rgba(0, 0, 255, 0.79), rgba(128, 0, 128, 0.79));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

.aboutcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
    flex-wrap: wrap;
    z-index: 1;
    background-color: transparent;
    gap: 60px;
    padding-top: 8vh;
}

.about-text {
    width: 100%;
    max-width: 450px;
    align-items: center;
    text-align: center;
}

p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(1.5rem, 2.5vw, 6rem);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    width: 100%;
    min-height: 12vh;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgba(16, 16, 16, 0.696);
    backdrop-filter: blur(10px);
}

.logo{
    font-size: clamp(1.7rem,3.2vw,3.5rem);
    color: rgb(157, 103, 207);
    font-weight: bold;
    padding-left: 10px;
    padding-right: 40px;
}

.header nav ul {
    display: flex;
    list-style: none;
    gap: 10vh;
    font-size: 1.4rem;
    cursor: pointer;
    padding-right: 35px;
    font-family: 'poppins' sans-serif;
    
}

.header nav ul a {
    text-decoration: none;
    color: white;
    white-space: nowrap;
    transition: all 0.7s ease;
    border-radius: 30px;
    padding: 10px 20px;
    white-space: nowrap;
    border: solid 2px transparent;
    animation: animate-gradient 2.5s linear infinite;
}

.header nav ul a:hover {
    background: linear-gradient(to right, purple, blue, purple, blue, purple);
    background-size: 200%;
    color: white;
    border: solid 2px white;
    
}
.header nav ul a:active{
    background: linear-gradient(to right, purple, blue, purple, blue, purple);
    background-size: 200%;
    color: white;
    border: solid 2px white; 
}

.my-projects {
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 2;
    gap: 5vw;
}

.project {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(2rem, 5vw, 9rem);
    background: linear-gradient(to right, purple, blue, purple, blue, purple);
    background-size: 200%;
    margin-top: 30px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    text-align: center;
    width: 100%;
}

.footer {
    min-width: 100%;
    min-height: 50vh;
    margin-top: -5px;
}

.what-is-said {
    width: 100%;
    min-height: 50vh;
}

.images{
    display: flex;
    gap: 2vw;
    margin-top: 20px;
    justify-content: center;
    font-size:clamp(4rem,8vw,5rem);
    color: rgb(202, 150, 251);
}
.images a{
    color:rgb(202, 150, 251);
}

.images  a:hover {
    color: rgb(111, 82, 138);
}

.card {
    background-color: rgb(24, 22, 34);
    width: 100%;
    aspect-ratio: 1/1.2;
    max-width: 320px;
    border-radius: 20px;
    justify-content: center;
    padding: 20px;

}

.bakery{
    width: 100%;
    max-width: 280px;
    height: 300px;
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('img/Screenshot\ 2025-08-02\ 183915.png');
    border-radius: 10px;
    background-size: cover;
}

.calc{
    width: 100%;
    max-width: 280px;
    height: 300px;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url('img/Screenshot\ 2025-08-02\ 184319.png');
    border-radius: 10px;
    background-size: cover;

}

.housing{
    width: 100%;
    max-width: 280px;
    height: 300px;
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('img/Screenshot\ 2025-08-02\ 184647.png');
    border-radius: 10px;
    background-size: cover;

}

.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    padding-left:44px ;
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
    .header{
        backdrop-filter: none;
    }
    .header nav ul {
      display: none;
      flex-direction: column;
      background-color: rgba(16, 16, 16, 0.696);
      backdrop-filter: blur(10px);
      position: absolute;
      top: 12vh;
      right: 0;
      width: 100%;
      padding: 30px;
      gap: 30px;
      text-align: center;
      z-index: 999;
    }
  
    .header nav ul.show {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }
  }
  button{
    padding:10px 20px;
    border-radius: 20px;
    margin-top: 4vh;
    border: none;
    background-color: rgb(157, 103, 207);
    color: white;
    font-weight: bold;
    transition: all 1s ease;
    text-decoration: none;
  }

  button:hover{
    background: linear-gradient(to right,blue, purple);
    cursor: pointer;
    transition: all 1s ease;
  }

  .button{
    display: flex;
    width: 100%;
    justify-content: center;
  }
   a .button {
    text-decoration: none;
  }

  .resume{
    padding: 18px 30px;
    margin-top: 5vh;
    border: solid white 2px;
    background-color: transparent;
    font-size: 1rem;
  }
  


    
